* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: #ccc;
  padding: 0;
  margin: 0;

  #root{
    height: 100%;
    display: flex;
    flex-direction: column;

    main{
      flex-grow: 1;
    }
  }
}
